{% extends "layouts/base.html" %}
{% block title %} index {% endblock title %}
{% block content %}

<style>
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* background-color: #ccc; */
    z-index: 1;
    line-height: 50px;
    border-bottom: solid 1px #999;
  }
  .main {
    padding-top: 50px;
    /* max-height: calc(100vh - 50px); */
  }
  .sidebar {
    padding: 0;
    left: 0;
    /* background-color: #999; */
    width: 200px;
    overflow: scroll;
    height: calc(100vh - 100px);
    border-right: solid 1px #999;
  }
  .sidebar::-webkit-scrollbar {
    display: none;
  }
  .sidebar .toggle_btn {
    position: fixed;
    left: 0;
    bottom: 0;
    line-height: 50px;
    /* background-color: #666; */
    z-index: 1;
    width: 200px;
    cursor: pointer;
    border-top: solid 1px #999;
    border-right: solid 1px #999;
    /* text-align: center; */
  }
  .sidebar ul, li {
    line-height: 50px;
    list-style-type: none;
    padding: 0;
    width: 200px;
  }
  .sidebar li {
    border-bottom: solid 1px #999;
    line-height: 50px;
  }
  .sidebar i {
    line-height: 50px;
    text-align: center;
    width: 30px;
    margin: 0 10px;
  }
  .content {
    margin: auto;
    text-align: center;
    border-right: solid 1px #999;
    border-left: solid 1px #999;
    overflow: scroll;
    height: calc(100vh - 50px);
  }
  .content::-webkit-scrollbar {
    display: none;
  }

</style>

<div class="container-fluid">
  <div class="header row">
    <div class="col-12">
      <div class="text-center">x</div>
    </div>
  </div>
  <div class="main row">
    <div class="sidebar col-2">
      <ul>
        <li><i class="fa-regular fa-message"></i><span>Push Notification</span></li>
      </ul>
      <div class="toggle_btn" onclick="closeNav()">close button</div>
    </div>
    
    <div class="content col-10">
      <div>X</div>
    </div>
  </div>
</div>


<script>
  function closeNav() {
    spans = document.querySelectorAll(".sidebar li > span")
    spans.forEach(element => {
      element.style.display = "none"
    });
    sidebar = document.querySelector(".sidebar")
    sidebar.style.width = "50px"
  }
</script>
{% endblock content %}