{% extends "layouts/base.html" %}
{% load i18n %}
{% block title %} List User {% endblock title %}
{% block content %}

<table class="container table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Handle</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    {% for user in objects %}
    <tr>
      <th scope="row">1</th>
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td><img src="{{ user.profile.avatar.url }}" style="height: 50px;"></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}