{% extends "layouts/base.html" %}
{% block title %} index {% endblock title %}
{% block content %}

<style>
  :root {
    --sidebar-width: 200px;
  }

  .header {
    position: fixed;
    top: 0; left: 0; right: 0; z-index: 2;
    
    background-color: #fff;
    border-bottom: solid 1px #999;
    line-height: 50px;
  }
  .main {
    padding-top: 50px;
    /* max-height: calc(100vh - 50px); */
  }
  .sidebar {
    position: relative;
    /* left: 0; z-index: 1; */
    
    background-color: #fff;
    width: var(--sidebar-width);
    height: calc(100vh - 100px);

    padding: 0;
    border-right: solid 1px #999;
    border-top: solid 1px #999;
    
    overflow: scroll;
    transition: all 0.2s ease;
  }
  .sidebar::-webkit-scrollbar {
    display: none;
  }
  .sidebar .toggle_btn {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    background-color: #fff;
    z-index: 1;
    width: var(--sidebar-width);
    cursor: pointer;
    border-top: solid 1px #999;
    border-right: solid 1px #999;
    /* text-align: center; */
    transition: all 0.2s ease;
  }
  .sidebar ul, li {
    line-height: 50px;
    list-style-type: none;
    padding: 0;
    width: var(--sidebar-width);
  }
  .sidebar li {
    border-bottom: solid 1px #999;
    line-height: 50px;
  }
  .sidebar i {
    line-height: 50px;
    text-align: center;
    width: 30px;
    margin: 0 10px;
  }
  .content {
    padding: 0;
    margin: auto;
    text-align: center;
    border-right: solid 1px #999;
    border-left: solid 1px #999;
    overflow: scroll;
    height: calc(100vh - 50px);
  }
  .content::-webkit-scrollbar {
    display: none;
  }
  .overlay {
    display: none;
    position: absolute;
    background-color: #000;
    opacity: 0;
    width: 100%;
    padding: 0;
    top: 0;
    bottom: 0;
    transition: all 0.2s ease;
  }
  @media screen and (max-width: 1199px) {
    .sidebar {
      position: fixed;
      width: 50px;
      z-index: 2;
    }
    .sidebar .toggle_btn {
      width: 50px;
    }
    .toggle_btn > span {
      display: none;
    }
    .content {
      left: 50px;
      right: 0;
      position: absolute;
      z-index: 1;
    }
    .overlay {
      display: block;
    }
  }

</style>

<div class="container-fluid">
  <div class="header row">
    <div class="col-12">
      <div class="text-center">x</div>
    </div>
  </div>
  <div class="main row">
    <div class="sidebar col-2">
      <ul>
        <li><i class="fa-regular fa-message"></i><span>Push Notification</span></li>
        <li><i class="fa-regular fa-message"></i><span>Push Notification</span></li>
      </ul>
      <div class="toggle_btn" onclick="toggle()">
        <i class="fa-regular fa-square-caret-left"></i>
        <i class="fa-regular fa-square-caret-right d-none"></i>
        <span>Close Button</span>
      </div>
    </div>
    
    <div class="content col-10">
      <div class="overlay"></div>
      <div>X</div>
    </div>
  </div>
</div>


<script>
  if (screen.width > 1199) nav_status = 1; else nav_status = 0;
  if (window.innerWidth > 1199) nav_status = 1; else nav_status = 0;
  toggle = () => { if (nav_status == 1) closeNav(); else openNav(); }
  function closeNav() {
    nav_status = 0
    spans = document.querySelectorAll(".sidebar li > span")
    spans.forEach(element => {
      element.style.display = "none"
    });
    document.querySelector(".sidebar").style.width = "50px"
    toggle_btn = document.querySelector(".toggle_btn")
    toggle_btn.style.width = "50px"
    toggle_btn.innerHTML = "<i class=\"fa-regular fa-square-caret-right\"></i>"
    overlay = document.querySelector('.overlay')
    overlay.style.opacity = '0'
  }
  function openNav() {
    nav_status = 1
    spans = document.querySelectorAll(".sidebar li > span")
    spans.forEach(element => {
      element.style.display = "inline-block"
    });
    document.querySelector(".sidebar").style.width = "200px"
    toggle_btn = document.querySelector(".toggle_btn")
    toggle_btn.style.width = "200px"
    toggle_btn.innerHTML = "<i class=\"fa-regular fa-square-caret-left\"></i><span>Close Button</span>"
    document.querySelector(".toggle_btn > span").style.display = "inline-block"
    overlay = document.querySelector('.overlay')
    overlay.style.opacity = '0.1'
  }
</script>
{% endblock content %}