<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Python Guides</title>
    <style>
        h1 {
          text-align: center;
        }
        td, th {
          text-align: center;
        }
      </style>
</head>
<body>
    
      <h1>List of Employees</h1>
      <table>
        <thead>
          <tr>
            <th>Employee ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Department</th>
          </tr>
        </thead>
        <tbody>
          
            <tr>
              <td>1</td>
              <td>admin</td>
              <td></td>
              <td></td>
            </tr>
          
            <tr>
              <td>2</td>
              <td>hr</td>
              <td>hr@hr.com</td>
              <td></td>
            </tr>
          
            <tr>
              <td>3</td>
              <td>ts1</td>
              <td>ts1@ts.com</td>
              <td></td>
            </tr>
          
            <tr>
              <td>7</td>
              <td>ts</td>
              <td></td>
              <td></td>
            </tr>
          
            <tr>
              <td>8</td>
              <td>ts2</td>
              <td></td>
              <td></td>
            </tr>
          
            <tr>
              <td>9</td>
              <td>ts3</td>
              <td></td>
              <td></td>
            </tr>
              
        </tbody>
      </table>
</body>
</html>