:root {
    --sidebar-width_open: 200px;
    --sidebar-width_collapse: 50px;
}

html, body {
    box-sizing: border-box;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    border-bottom: solid 1px #999;

    background-color: #fff;
    line-height: 50px;
    
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.main {
    padding-top: 50px;
    /* max-height: calc(100vh - 50px); */

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.sidebar {
    position: relative;
    /* left: 0; z-index: 1; */
    border-right: solid 1px #999;
    border-top: solid 1px #999;

    background-color: #fff;
    width: var(--sidebar-width_open);
    height: calc(100vh - 100px);

    padding: 0;

    overflow: scroll;
    transition: all 0.2s ease;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar .toggle_btn {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    background-color: #fff;
    z-index: 1;
    width: var(--sidebar-width_open);
    cursor: pointer;
    border-top: solid 1px #999;
    border-right: solid 1px #999;
    /* text-align: center; */
    transition: all 0.2s ease;
}

.sidebar ul,
li {
    line-height: 50px;
    list-style-type: none;
    padding: 0;
    width: var(--sidebar-width_open);
}

.sidebar li {
    border-bottom: solid 1px #999;
    line-height: 50px;
}

.sidebar i {
    line-height: 50px;
    text-align: center;
    width: 30px;
    margin: 0 10px;
}

.content {
    padding: 0;
    margin: auto;
    text-align: center;
    border-right: solid 1px #999;
    border-left: solid 1px #999;
    overflow: scroll;
    height: calc(100vh - 50px);
}

.content::-webkit-scrollbar {
    display: none;
}

.overlay {
    display: none;
    position: absolute;
    background-color: #000;
    opacity: 0;
    width: 100%;
    padding: 0;
    top: 0;
    bottom: 0;
    transition: all 0.2s ease;
}

@media screen and (max-width: 1199px) {
    .sidebar {
        position: fixed;
        width: 50px;
        z-index: 2;
    }

    .sidebar .toggle_btn {
        width: 50px;
    }

    .toggle_btn>span {
        display: none;
    }

    .content {
        left: 50px;
        right: 0;
        position: absolute;
        z-index: 1;
    }

    .overlay {
        display: block;
    }
}


.hide {
    display: none !important;
}

.show {
    display: inline-block !important;
}

.close {
    width: var(--sidebar-width_collapse) !important;
}

.open {
    width: var(--sidebar-width_open) !important;
}

.menu_sub_items .sub_item {
    border-bottom: solid 1px #bbb;
    width: var(--sidebar-width_open);
    font-size: small;
    padding-left: 50px;
}
.menu_sub_items .sub_item a{
    text-decoration: none;
    color: #666;
}
.logo {
    text-align: center;
    border-right: solid 1px #bbb;
    z-index: -1;
}
.logo img {
    height: 50px;
}

/* .navbar .nav-item {
    text-decoration: none;
} */